.affair-list {
    display: flex;
}

.affair-lists {
    position: relative;
    margin-right: 30px;
    text-align: center;
    &:last-child {
        margin-right: 0;
    }
}

.app {
    position: absolute;
    text-align: center;
    width: 370px;
    left: 1px;
    top: 222px;
    font-size: 16px;
    color: $white-color;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
}